'.source.js':
	# 绘画
	'创建canvas绘图上下文(指定 canvasId)':
		'prefix': 'wxcreateCanvasContext'
		'body': """
			const ctx = wx.createCanvasContext('${1:canvasId}')
		"""
		'description': '界面->绘图->需要指定 canvasId，该绘图上下文只作用于对应的 <canvas/>'
		'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/canvas/create-canvas-context.html'
	'绘制图像到画布':
	  'prefix': 'ctxdrawImage'
	  'body': """
			ctx.drawImage('${1:imageResource}',${2:0},${3:0},${4:systemInfo.windowWidth},${5:systemInfo.windowHeight});
	  """
	  'description': '界面->绘图->绘制图像到画布'
	  'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/canvas/draw-image.html'
	'生成图片，并返回文件路径':
		'prefix': 'wxcanvasToTempFilePath'
		'body': """
			//在 draw 回调里调用该方法才能保证图片导出成功
			wx.canvasToTempFilePath({
				canvasId: '$1'
			})
		"""
		'description': '界面->绘图->把当前画布指定区域的内容导出生成指定大小的图片，并返回文件路径'
		'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/canvas/temp-file.html'
