'.source.js':
  # 交互反馈
  '显示消息提示框(错误消息不要使用这个API)':
    'prefix': 'wxShowToast'
    'body': """
      wx.showToast({
        title: '${1:轻提示的内容}',
        icon: '${2:success/loading/none}',
        mask: ${3:true}
      })
    """
    'description': '界面->交互反馈->显示消息提示框'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/api-react.html#wxshowtoastobject'
  '隐藏消息提示框':
    'prefix': 'wxhideToast'
    'body': 'wx.hideToast()'
    'description': '界面->交互反馈->隐藏消息提示框'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/api-react.html#wxhidetoast'
  '显示 loading 提示框':
    'prefix': 'wxshowLoading'
    'body': """
      wx.showLoading({
      	title: '${1:加载中}',
      	mask: ${2:true}
      })
    """
    'description': '界面->交互反馈->显示 loading 提示框'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/api-react.html#wxshowloadingobject'
  '主动隐藏 loading 提示框':
    'prefix':'wxhideLoading'
    'body':'wx.hideLoading()'
    'description': '界面->交互反馈->隐藏 loading 提示框'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/api-react.html#wxhideloading'
  '隐藏 loading 提示框':
    'prefix':'wxhideLoading-timeout'
    'body':"""
      setTimeout(() => {
        wx.hideLoading()
      },2000)
    """
    'description': '界面->交互反馈->隐藏 loading 提示框'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/api-react.html#wxhideloading'
  '​显示模态弹窗':
    'prefix': 'wxshowModal'
    'body': """
      wx.showModal({
        title: '${1:提示的标题}',
        content: '${2:提示的内容}',
        showCancel: ${3:true},
        success: ()=>{
          $4
        }
      })
    """
    'description': '​界面->交互反馈->显示模态弹窗'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/api-react.html#wxshowmodalobject'
  '​显示操作菜单':
    'prefix': 'wxshowActionSheet'
    'body': """
      wx.showActionSheet({
        itemList: ${1:按钮的文字数组，数组长度最大为6个},
        itemColor: '#000000'
      })
    """
    'description': '​界面->交互反馈->显示操作菜单'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/api-react.html#wxshowactionsheetobject'
  # 设置导航条
  '设置当前页面标题':
    'prefix': 'wxsetNavigationBarTitle'
    'body': '''
      wx.setNavigationBarTitle({
        title: '${1:页面标题}'
      })
    '''
    'description': '界面->设置导航条->动态设置当前页面的标题'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/ui.html#wxsetnavigationbartitleobject'
  '显示导航条加载动画':
    'prefix': 'wxshowNavigationBarLoading'
    'body': 'wx.showNavigationBarLoading()'
    'description': '界面->设置导航条->在当前页面显示导航条加载动画'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/ui.html#wxshownavigationbarloading'
  '隐藏导航条加载动画':
    'prefix': 'wxhideNavigationBarLoading'
    'body': 'wx.hideNavigationBarLoading()'
    'description': '界面->设置导航条->隐藏导航条加载动画'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/ui.html#wxhidenavigationbarloading'
  '设置导航条配色':
    'prefix': 'wxsetNavigationBarColor'
    'body': """
      wx.setNavigationBarColor({
        frontColor: '#ffffff',
        backgroundColor: '#ff0000',
        animation: {
          duration: 400,
          timingFunc: 'easeIn' // 'linear','easeIn','easeOut','easeInOut'
        }
      })
    """
    'description': '设置导航条配色'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/setNavigationBarColor.html'
  # 设置tabBar >=1.9.0
  '为 tabBar 某一项的右上角添加文本':
    'prefix': 'wxsetTabBerBadge'
    'body': """
      wx.setTabBarBadge({
        index: ${1:tabBar的哪一项，从左边算起},
        text: ${2:显示的文本，超过3个字符则显示成 "..."},
        success: (res)=>{
          ${3:// success}
        },
        fail: (error)=> {
          ${4:// fail}
        },
        complete: (res)=> {
          ${5:// complete}
        }
      })
    """
    'description': '界面->设置tabBar->为tabBar某一项的右上添加文本'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/ui-tabbar.html'
  '移除 tabBar 某一项右上角的文本':
    'prefix': 'wxremoveTabBarBadge'
    'body': """
      wx.removeTabBarBadge({
        index: ${1:tabBar的哪一项，从左边算起},
        success: (res)=>{
          ${2:// success}
        },
        fail: (error)=> {
          ${3:// fail}
        },
        complete: ()=> {
          ${4:// complete}
        }
      })
    """
    'description': '界面->设置tabBar->移除tabBar某一项右上角的文本'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/ui-tabbar.html#wxremovetabbarbadgeobject'
  '显示 tabBar 某一项的右上角的红点':
    'prefix': 'wxshowTabBarRedDot'
    'body': """
      wx.showTabBarRedDot({
        index: ${1:tabBar的哪一项，从左边算起},
        success: (res)=>{
          ${2:// success}
        },
        fail: (error)=> {
          ${3:// fail}
        },
        complete: ()=> {
          ${4:// complete}
        }
      })
    """
    'description': '界面->设置tabBar->显示tabBar某一项的右上角的红点'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/ui-tabbar.html#wxshowtabbarreddotobject'
  '隐藏 tabBar 某一项右上角的红点':
    'prefix': 'wxhideTabBarRedDot'
    'body': """
      wx.hideTabBarRedDot({
        index: ${1:tabBar的哪一项，从左边算起},
        success: (res)=>{
          ${2:// success}
        },
        fail: (error)=> {
          ${3:// fail}
        },
        complete: ()=> {
          ${4:// complete}
        }
      })
    """
    'description': '界面->设置tabBar->隐藏 tabBar 某一项右上角的红点'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/ui-tabbar.html#wxhidetabbarreddotobject'
  '动态设置 tabBar 的整体样式':
    'prefix': 'wxsetTabBarStyle'
    'body': """
      wx.setTabBarStyle({
        color: ${1:tab上 的文字默认颜色},
        selectedColor: ${2:tab 上的文字选中时的颜色},
        backgroundColor: ${3:tab 的背景色},
        borderStyle: ${4:tab 上边框的颜色，仅支持 black/white},
        success: (res)=>{
          ${5:// success}
        },
        fail: (error)=> {
          ${6:// fail}
        },
        complete: ()=> {
          ${7:// complete}
        }
      })
    """
    'description': '界面->设置->动态设置 tabBar 的整体样式'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/ui-tabbar.html#wxsettabbarstyleobject'
  '动态设置 tabBar 某一项的内容':
    'prefix': 'wxsetTabBarItem'
    'body': """
      wx.setTabBarItem({
        index: ${1:tabBar的哪一项},
        text: ${2:tab上的按钮文字},
        iconPath: ${3:图片路径，81px*81，40kb，不支持网络图片},
        selectedIconPath: ${3:选中时的图片路径，81px*81，40kb，不支持网络图片},
        success: (res)=>{
          ${4:// success}
        },
        fail: (error)=> {
          ${5:// fail}
        },
        complete: ()=> {
          ${6:// complete}
        }
      })
    """
    'description': '界面->设置tabBar->动态设置 tabBar 某一项的内容'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/ui-tabbar.html#wxsettabbaritemobject'
  '显示 tabBar':
    'prefix': 'wxshowTabBar'
    'body': """
      wx.showTabBar({
        animation: ${1: 是否需要动画，默认无},
        success: (res)=>{
          ${2:// success}
        },
        fail: (error)=> {
          ${3:// fail}
        },
        complete: ()=> {
          ${4:// complete}
        }
      })
    """
    'description': '界面->设置 tabBar->显示 tabBar'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/ui-tabbar.html#wxshowtabbarobject'
  '隐藏 tabBar':
    'prefix': 'wxhideTabBar'
    'body': """
      wx.hideTabBar({
        animation: ${1: 是否需要动画，默认无},
        success: (res)=>{
          ${2:// success}
        },
        fail: (error)=> {
          ${3:// fail}
        },
        complete: ()=> {
          ${4:// complete}
        }
      })
    """
    'description': '界面->设置->隐藏 tabBar'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/ui-tabbar.html#wxhidetabbarobject'
  # 设置置顶信息
  '动态设置置顶栏文字内容':
    'prefix': 'wxsetTopBarText'
    'body': """
      wxsetTopBarText({
        text: ${1:置顶栏文字内容}
      });
    """
    'description': '动态设置置顶栏文字内容'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/ui.html#wxsettopbartextobject'
  # 导航
  '新窗口打开页面':
    'prefix': 'wxnavigateTo'
    'body': '''
    wx.navigateTo({
      url: '${1:String}',
      success: (res)=>{
        ${2:// success}
      },
      fail: (error)=> {
        ${3:// fail}
      },
      complete: ()=> {
        ${4:// complete}
      }
    })
    '''
    'description': '界面->导航->保留当前页面，跳转到应用内的某个页面'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/ui-navigate.html#wxnavigatetoobject'
  '原窗口打开页面':
    'prefix': 'wxredirectTo'
    'body': '''
    wx.redirectTo({
      url: '${1:String}',
      success: (res)=>{
        ${2:// success}
      },
      fail: ()=> {
        ${3:// fail}
      },
      complete: ()=> {
        ${4:// complete}
      }
    })
    '''
    'description': '界面->导航->关闭当前页面，跳转到应用内的某个页面'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/ui-navigate.html#wxredirecttoobject'
  '跳转到 tabBar 页面':
    'prefix': 'wxswitchTab'
    'body': """
      wx.switchTab({
        url: '/index',
        success: (res)=>{
          ${2:// success}
        },
        fail: ()=> {
          ${3:// fail}
        },
        complete: ()=> {
          ${4:// complete}
        }
      })
    """
    'description': '界面->导航->跳转到 tabBar 页面，并关闭其他所有非 tabBar 页面'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/ui-navigate.html#wxswitchtabobject'
  '退回上一个页面':
    'prefix': 'wxnavigateBack'
    'body': '''
      wx.navigateBack({
        delta: ${1:1}, ${2:// 回退前 delta(默认为1) 页面}
        success: (res)=>{
          ${3:// success}
        },
        fail: ()=> {
          ${4:// fail}
        },
        complete: ()=> {
          ${5:// complete}
        }
      })
    '''
    'description': '界面->导航->关闭当前页面，返回上一页面或多级页面'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/ui-navigate.html#wxrelaunchobject'
  '打开到应用内的某个页面':
    'prefix': 'wxrelaunch'
    'body': """
      wx.reLaunch({
        url: 'test?id=1',
        success: (res)=>{
          ${2:// success}
        },
        fail: ()=> {
          ${3:// fail}
        },
        complete: ()=> {
          ${4:// complete}
        }
      })
    """
    'description': '界面->导航->关闭所有页面，打开到应用内的某个页面'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/ui-navigate.html#wxrelaunchobject'
  '退出小程序':
    'prefix': 'wxcloseApp'
    'body': """
      wx.navigateBack({
        delta: -1
      })
    """
    'description': '代码时光'
    'descriptionMoreURL': 'http://www.wakeuptocode.me'
  # 动画
  '动画':
    'prefix': 'wxcreateAnimation'
    'body': '''
      wx.createAnimation({
        duration: ${1:400},
        timingFunction: '${2:linear}', // "linear","ease","ease-in","ease-in-out","ease-out","step-start","step-end"
        delay: ${3:0},
        transformOrigin: '50% 50% 0',
        success: (res)=> {
          ${4://function code}
        }
      })
    '''
    'description': '界面->动画->创建一个动画实例animation'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/api-animation.html#wxcreateanimationobject'
  # 位置
  '将页面滚动到目标位置':
    'prefix': 'wxpageScrollTo'
    'body': """
      wx.pageScrollTo({
        scrollTop: ${1:0,}
        ${2:duration: 300}
      })
    """
    'description': '界面->位置->将页面滚动到目标位置'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/scroll.html'
  # 下拉刷新
  '开始下拉刷新动画':
    'prefix': 'wxstopPullDownRefresh'
    'body': 'wx.stopPullDownRefresh()'
    'description': '界面->下拉刷新->开始下拉刷新，调用后触发下拉刷新动画，效果与用户手动下拉刷新一致'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/pulldown.html#wxstartpulldownrefresh'
  '停止下拉刷新动画':
    'prefix': 'wxstopPullDownRefresh'
    'body': 'wx.stopPullDownRefresh()'
    'description': '界面->下拉刷新->停止当前页面下拉刷新'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/pulldown.html#wxstoppulldownrefresh'
