'.source.js':
  '获取本地数据缓存':
    'prefix': 'wxgetStorage'
    'body': '''
    wx.getStorage({
      key: '${1:String}',
      success: function(res){
        $2// success
      },
      fail: function() {
        $3// fail
      },
      complete: function() {
        $4// complete
      }
    })
    '''
  '设置本地数据缓存':
    'prefix': 'wxsetStorage'
    'body': '''
    wx.setStorage({
      key: '${1: String}',
      data: Object/String,
      success: function(res){
        $2// success
      },
      fail: function() {
        $3// fail
      },
      complete: function() {
        $4// complete
      }
    })
    '''
  '清理本地数据缓存':
    'prefix': 'wxclearStorage'
    'body': '''
    wx.clearStorage({
      key: '${1: String}',
      success: function(res){
        $2// success
      },
      fail: function() {
        $3// fail
      },
      complete: function() {
        $4// complete
      }
    })
    '''
  '同步的本地存储写操作':
    'prefix': 'wxsetStorageSync'
    'body': 'wx.setStorageSync(\'$1\', \'$2\')'
    'description': '这是一个同步接口'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/data.html#wxsetstorageobject'
  '同步的本地存储读操作':
    'prefix': 'wxgetStorageSync'
    'body': 'wx.getStorageSync(\'$1\')'
    'description': '这是一个同步接口'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/data.html#wxgetstoragesynckey'  
