'.source.js':
	# 绘画
	'创建canvas绘图上下文(指定 canvasId)':
		'prefix': 'wxcreateCanvasContext'
		'body': """
			const ctx = wx.createCanvasContext('${1:canvasId}')
		"""
		'description': '界面->绘图->需要指定 canvasId，该绘图上下文只作用于对应的 <canvas/>'
		'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/canvas/create-canvas-context.html'
	'绘制图像到画布':
	  'prefix': 'ctxdrawImage'
	  'body': """
	    ctx.drawImage({
				imageResource: '$1' // 所要绘制的图片资源
			})
	  """
	  'description': '界面->绘图->绘制图像到画布'
	  'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/canvas/draw-image.html'
	'生成图片，并返回文件路径':
		'prefix': 'wxcanvasToTempFilePath'
		'body': '''
			wx.drawCanvas({
				canvasId: '${1:String}'
			})
		'''
		'description': '界面->绘图->把当前画布指定区域的内容导出生成指定大小的图片，并返回文件路径'
		'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/api/canvas/temp-file.html'
