# 导航组件属性
'.meta.tag.navigator.wxml':
  'open-type':
    'prefix': 'open-type'
    'body': 'open-type="${1:navigate/redirect/switchTab/reLaunch/navigateBack}"'
  'hover-class':
    'prefix': 'hover-class'
    'body': 'hover-class="${1:none}"'
  'navigator->delta':
    'prefix': 'delta'
    'body': 'delta="1"'
# 输入框组件属性
'.meta.tag.input.wxml':
  '是否是密码类型':
    'prefix': 'password'
    'body': """
      password
    """
  '是否禁用':
    'prefix': 'disabled'
    'body': """
      disabled
    """
  '最大输入长度，设置为 -1 的时候不限制最大长度':
    'prefix': 'maxlength'
    'body': """
      maxlength="140"
    """
  '获取焦点':
    'prefix': 'focus'
    'body': """
      focus
    """
  'input 的类型':
    'prefix': 'type'
    'body': """
      type="${1:text/number/idcard/digit}"
    """
  '设置键盘右下角按钮的文字':
    'prefix': 'confirm-type'
    'body': """
      confirm-type="${1:send/search/next/go/done}"
    """
  '当键盘输入时，触发input事件':
    'prefix': 'bindinput'
    'body': """
      bindinput="$1"
    """
  '输入框聚焦时触发':
    'prefix': 'bindfocus'
    'body': """
      bindfocus="$1"
    """
  '输入框失去焦点时触发':
    'prefix': 'bindblur'
    'body': """
      bindblur="$1"
    """
  '点击完成按钮时触发':
    'prefix': 'bindconfirm'
    'body': """
      bindconfirm="$1"
    """
'.text.wxml':
	'视图容器':
    'prefix': 'wxview'
    'body': """
      <view class="$1">$2</view>
    """
    'description': '视图容器'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/view.html'
	'视图容器->可横向滚动视图区域':
    'prefix': 'wxscroll-view-x'
    'body': """
    	<scroll-view scroll-x="true" id="$1">
    	<!--scroll-view 采用 flex是不起作用的，建议在 scroll-view里再套一层view，对这个view采用flex-->
    	<view class="weui-flex">
    		<!--wxss 设置子元素 flex: 1 0 50%;height: ...rpx-->
    		<view style="background:green"></view>
    		<view style="background:red"></view>
    		<view style="background: yellow;"></view>
    		<view style="background: blue;"></view>
    	</view>
    	</scroll-view>
    """
    'description': '可滚动视图区域'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/scroll-view.html'
	'视图容器->可竖向滚动视图区域':
    'prefix': 'wxscroll-view-y'
    'body': """
    	<!-- 必须通过 WXSS 设置 height -->
    	<scroll-view scroll-y="true" id="$1">
    		<!--wxss 设置子元素height、width-->
    		<view style="background:green"></view>
    		<view style="background:red;"></view>
    		<view style="background: yellow;"></view>
    		<view style="background: blue;"></view>
    	</scroll-view>
    """
    'description': '可滚动视图区域'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/scroll-view.html'
	'视图容器->滑块视图容器':
		'prefix': 'wxswiper'
    'body': """
    	<!--请设置navigator、image的宽高、swiper默认宽100%，高150px-->
    	<swiper id="${1:banner}"
    		indicator-dots="{{indicatorDots}}"
    		autoplay="{{autoplay}}"
    		interval="{{interval}}"
    		duration="{{duration}}"
    		circular="{{circular}}">
    	  <block wx:for="{{banner}}">
    	    <swiper-item>
    	      <navigator url="{{item.linkTo}}" hover-class="navigator-hover">
    	        <image src="{{item.imgUrl}}" width="355" height="150"/>
    	      </navigator>
    	    </swiper-item>
    	  </block>
    	</swiper>
    """
    'description': '滑块视图容器'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/swiper.html'
	# 基础内容
	'基础内容->图标':
    'prefix': 'wxicon'
    'body': '<icon type="${1:success}" size="$2" color="$3"/>'
    'description': '基础内容->图标'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/icon.html'
	'基础内容->文本':
    'prefix': 'wxtext'
    'body': '<text>$1</text>'
		'description': '基础内容->文本'
		'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/text.html'
	# 表单组件
	'表单组件->按钮':
		'prefix': 'wxbutton'
		'body': '<button type="${1:primary}" bindtap="${2:tapEvent}" hover-class="none">primary</button>'
		'description': '表单组件->按钮'
		'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/button.html'
	'表单组件->输入框':
		'prefix': 'wxinput'
		'body': '<input value="{{$1}}" placeholder="$2" bindinput="$3"/>'
		'description': '表单组件->输入框'
		'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/input.html'
	# 导航
	'导航->navigator':
    'prefix': 'wxnavigator'
    'body': """
			<navigator url="$1" open-type="${2:navigate}">
				$3
			</navigator>
		"""
	# 媒体组件
	'媒体组件->图片':
    'prefix': 'wximage'
    'body': '<image src="$1"></image>'
    'description':'媒体组件->图片'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/image.html'
	# 扩展
	'图标-iconfont':
		'prefix': 'iconfont'
		'body': '<view class="iconfont icon-$1"></view>'
