'.text.xml':
	'loading':
	  'prefix': 'loading'
	  'body': """
	    <loading hidden="{{hidden}}"></loading>
	  """
	'contact-button':
	  'prefix': 'contact-button'
	  'body': """
			<contact-button type="default-light${1:/default-dark}"></contact-button>
	  """
	  'description': '客服消息按钮'
	  'descriptionMoreURL': 'http://www.sohu.com/a/193238869_603236'
	'视图容器':
    'prefix': 'view'
    'body': """
      <view class="$1">$2</view>
    """
    'description': '视图容器'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/view.html'
	'视图容器->可横向滚动视图区域':
    'prefix': 'scroll-view-x'
    'body': """
			<!--请设置image的宽高100%；swiper默认宽100%，高150px，swiper-item默认宽高100%-->
			<swiper style="height:304rpx"
			  indicator-dots="{{bannerOption.indicatorDots}}"
			  autoplay="{{bannerOption.autoplay}}"
			  interval="{{bannerOption.interval}}"
			  duration="{{bannerOption.duration}}"
			  circular="{{bannerOption.circular}}"
			  vertical="{{bannerOption.vertical}}">
				<swiper-item wx:for="{{banner}}" item-id="{{item.objectId}}">
				  <image src="{{item}}"/>
				</swiper-item>
			</swiper>
    """
    'description': '可滚动视图区域'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/scroll-view.html'
	'视图容器->可竖向滚动视图区域':
    'prefix': 'scroll-view-y'
    'body': """
    	<!-- 必须通过 WXSS 设置 height -->
    	<scroll-view scroll-y="true" id="$1">
    		<!--wxss 设置子元素height、width-->
    		<view style="background:green"></view>
    		<view style="background:red;"></view>
    		<view style="background: yellow;"></view>
    		<view style="background: blue;"></view>
    	</scroll-view>
    """
    'description': '可滚动视图区域'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/scroll-view.html'
	'视图容器->滑块视图容器':
    'prefix': 'swiper'
    'body': """
    	<!--请设置image的宽高100%、swiper默认宽100%，高150px，swiper-item默认宽高100%-->
    	<swiper id="${1:banner}"
    		indicator-dots="{{indicatorDots}}"
    		autoplay="{{autoplay}}"
    		interval="{{interval}}"
    		duration="{{duration}}"
    		circular="{{circular}}">
    	  <block wx:for="{{banner}}">
    	    <swiper-item item-id="{{item.objectid}}">
  	        <image src="{{item.imgUrl}}" width="355" height="150"/>
    	    </swiper-item>
    	  </block>
    	</swiper>
    """
    'description': '滑块视图容器'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/swiper.html'
	# 基础内容
	'基础内容->图标':
    'prefix': 'icon'
    'body': '<icon type="${1:success}" size="$2" color="$3"/>'
    'description': '基础内容->图标'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/icon.html'
	'基础内容->文本':
    'prefix': 'text'
    'body': '<text>$1</text>'
		'description': '基础内容->文本'
		'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/text.html'
	# 表单组件
	# picker组件在component-picker.cson文件中
	'表单组件->按钮':
		'prefix': 'button'
		'body': """
			<button type="${1:default/primary/warn}" ${2:hover-class="none" }bindtap="${3:btntap}">$4</button>
		"""
		'description': '表单组件->按钮'
		'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/button.html'
	'多项选择器，由多个checkbox组成':
	  'prefix': 'checkbox-group'
	  'body': """
			<checkbox-group bindchange="${1:checkboxChange}">
				<label class="checkbox" wx:for="{{${2:items}}}">
					<checkbox value="{{item.name}}" checked="{{item.checked}}"/>{{item.value}}
				</label>
			</checkbox-group>
	  """
	  'description': '表单组件->checkbox-group'
	  'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/checkbox.html'
	'表单form':
	  'prefix': 'form'
	  'body': """
			<form bindsubmit="formSubmit" bindreset="formReset">
				<!-- 需要在表单组件中加上 name 来作为 key -->
				$1
				<view class="weui-btn-area">
					<button type="primary" class="weui-btn" hover-class="none" form-type="submit">提交</button>
					<button type="warn" class="weui-btn" hover-class="none" form-type="reset">重置</button>
				</view>
			</form>
	  """
	  'description': 'form'
	  'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/form.html'
	'表单组件->输入框':
		'prefix': 'input'
		'body': '<input value="{{$1}}" placeholder="$2" bindinput="$3"/>'
		'description': '表单组件->输入框'
		'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/input.html'
	'单项选择器':
	  'prefix': 'radio-group'
	  'body': """
			<radio-group class="radio-group" bindchange="radioChange">
				<label class="radio" wx:for="{{items}}">
					<radio value="{{item.name}}" checked="{{item.checked}}" color="${1:#1AAD19}"/>{{item.value}}
				</label>
			</radio-group>
	  """
	  'description': '表单->radio'
	  'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/radio.html'
	'滑动选择器':
	  'prefix': 'slider'
	  'body': """
			<slider bindchange="sliderChange"
				min="0"
				max="100"
				step="5"
				show-value/>
	  """
	  'description': '表单->slider'
	  'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/slider.html'
	'开关选择器':
	  'prefix': 'switch'
	  'body': """
			<switch type="${1:switch/checkbox}" bindchange="switchChange"/>
	  """
	  'description': '表单->switch'
	  'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/switch.html'
	'多行输入框':
	  'prefix': 'textarea'
	  'body': """
			<textarea bindblur="bindTextAreaBlur"
				placeholder="自动变高"
				maxlength="140"
				auto-height/>
	  """
	  'description': '表单->textarea'
	  'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/textarea.html'
	# 导航
	'导航->navigator':
    'prefix': 'navigator'
    'body': """
			<navigator url="$1"
				open-type="${2:navigate/redirect/switchTab/reLaunch/navigateBack"}
				class="$3"
				hover-class="weui-cell_active">
				$4
			</navigator>
		"""
	# 媒体组件
	'媒体组件->图片':
    'prefix': 'image'
    'body': '<image src="$1"></image>'
    'description':'媒体组件->图片'
    'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/image.html'
	# 画布
	# canvas 标签默认宽度300px、高度225px
	'canvas':
	  'prefix': 'canvas'
	  'body': """
			<canvas canvas-id="$1"></canvas>
	  """
	  'description': 'canvas'
	  'descriptionMoreURL': 'https://mp.weixin.qq.com/debug/wxadoc/dev/component/canvas.html#canvas'
	# 扩展
	'图标-iconfont':
		'prefix': 'iconfont'
		'body': '<view class="iconfont icon-$1"></view>'
'.meta.tag.xml':
	# 导航组件属性
	'open-type':
    'prefix': 'open-type'
    'body': 'open-type="${1:navigate/redirect/switchTab/reLaunch/navigateBack}"'
  'hover-class':
    'prefix': 'hover-class'
    'body': 'hover-class="${1:none}"'
  'navigator->delta':
    'prefix': 'delta'
    'body': 'delta="1"'
	# 输入框组件属性
	'是否是密码类型':
		'prefix': 'password'
		'body': 'password'
	'最大输入长度，设置为 -1 的时候不限制最大长度':
		'prefix': 'maxlength'
		'body': 'maxlength="140"'
	'指定 placeholder 的样式':
		'prefix': 'placeholder-style'
		'body': """
			placeholder-style="color:red"
		"""
	'指定 placeholder 的样式类':
		'prefix': 'placeholder-class'
		'body': """
			placeholder-class="input-placeholder"
		"""
	'获取焦点':
		'prefix': 'focus'
		'body': 'focus'
	'input 的类型':
		'prefix': 'type'
		'body': 'type="${1:text/number/idcard/digit}"'
	'设置键盘右下角按钮的文字':
		'prefix': 'confirm-type'
		'body': 'confirm-type="${1:send/search/next/go/done}"'
	'当键盘输入时，触发input事件':
		'prefix': 'bindinput'
		'body': 'bindinput="$1"'
	'输入框聚焦时触发':
		'prefix': 'bindfocus'
		'body': 'bindfocus="$1"'
	'输入框失去焦点时触发':
		'prefix': 'bindblur'
		'body': 'bindblur="$1"'
	'点击完成按钮时触发':
		'prefix': 'bindconfirm'
		'body': 'bindconfirm="$1"'
	'点击组件时触发':
		'prefix': 'bindtap'
		'body': 'bindtap="$1"'
	# 按钮组件属性
	'按钮是否镂空，背景色透明':
    'prefix': 'plain'
    'body': 'plain'
	'是否禁用':
    'prefix': 'disabled'
    'body': 'disabled'
	'名称前是否带 loading 图标':
    'prefix': 'loading'
    'body': 'loading'
	'button->size':
	  'prefix': 'size'
	  'body': 'size="${1:default/mini}"'
	'button->form-type':
	  'prefix': 'form-type'
	  'body': 'form-type="${1:submit/reset}"'
	'button->open-type':
	  'prefix': 'open-type'
	  'body': '${1:contact/share/getUserInfo/getPhoneNumber/launchApp}'
	'button->bindgetuserinfo':
	  'prefix': 'bindgetuserinfo'
	  'body': 'bindgetuserinfo="getUserInfo"'
	'button->bindcontact':
	  'prefix': 'bindcontact'
	  'body': 'bindcontact="handleContact"'
	'button->bindgetphonenumber':
	  'prefix': 'bindgetphonenumber'
	  'body': 'bindgetphonenumber="getPhoneNumber"'
	'button->binderrror':
	  'prefix': 'binderrror'
	  'body': 'binderrror="handleError"'
'.source.js,javascript':
	'swiper组件配置项':
	  'prefix': 'wxswiper'
	  'body': """
			bannerOption: {
				indicatorDots: true, // 是否显示面板指示点
				autoplay: true, // 是否自动切换
				interval: 5000, // 自动切换时间间隔ms
				duration: 1000, // 滑动动画时长ms
				circular: true, // 是否采用衔接滑动,相当于loop
				vertical: false // 滑动方向是否为纵向
			}
	  """
	  'description': '滑块视图容器'
	  'descriptionMoreURL': 'https://developers.weixin.qq.com/miniprogram/dev/component/swiper.html'
