# 微信小程序配置
'.source.json':
  '导航栏标题文字内容':
    'prefix': 'navigationBarTitleText'
    'body': '"navigationBarTitleText":"$1"'
  '设置全局默认窗口的表现形式':
    'prefix': 'wxwindow'
    'body': """
      "window":{//设置默认窗口的表现形式
        "navigationBarTitleText": "WeChat",
        "navigationBarTextStyle": "white",
        "backgroundTextStyle": "light",
        "enablePullDownRefresh":"false",
        "onReachBottomDistance": 50
      }
    """
  '底部tab或者顶部tab的表现':
    'prefix': 'wxtabBar'
    'body': """
      "tabBar": {
        "color":"#666666",
        "selectedColor":"#CF3349",
        "backgroundColor": "#fff",
        "borderStyle":"white",
        "position":"bottom",
        "list": [{
          "pagePath": "pages/index/index",
          "text": "首页",
          "iconPath":"../img/a.png",
          "selectedIconPath": "../img/a.png"
        },
        {
          "pagePath": "pages/logs/logs",
          "text": "日志"
        }]
      }
    """
  '设置各种网络请求的超时时间':
    'prefix': 'wxnetworkTimeout'
    'body': """
      "networkTimeout": {
        "request": 10000,
        "downloadFile": 10000,
        "uploadFile":"10000",
        "downloadFile":"10000"
      }
    """
  '调试选项':
    'prefix': 'wxdebug'
    'body': '"debug": ${1:true} //项目上线后，建议关闭此项，或者不写此项,默认false'
  '设置页面默认窗口的表现形式(会覆盖全局配置)':
    'prefix': 'wxpagewindow'
    'body': """
      {
        "navigationBarTitleText": "${1:WeChat}",
        "navigationBarBackgroundColor": "#ffffff",
        "navigationBarTextStyle": "black",
        "backgroundTextStyle": "light",
        "enablePullDownRefresh": false,
        "disableScroll": false,
        "onReachBottomDistance": 50
      }
    """
