'.source.js':
	'返回顶部按钮':
		'prefix': 'wxgotop'
		'body': """
// 监听用户滑动页面事件
onPageScroll: function(e) {
if (e.scrollTop >= 150) {
	this.setData({
		isShowGotop: true
	})
}else{
	this.setData({
		isShowGotop: false
	})
}
},
// 返回顶部函数
Gotoptap: function(){
	wx.pageScrollTo({scrollTop: 0})
},
"""

	'注册一个小程序':
    'prefix': 'wxapp'
    'body': """
App({
  onLaunch: function (options) {
		// 监听小程序初始化
    // 当小程序初始化完成时，会触发 onLaunch（全局只触发一次）
		console.log(options)
		$1
  },
  onShow: function(options){
		// 监听小程序显示
    // 当小程序启动，或从后台进入前台显示，会触发 onShow
		console.log(options)
		$1
  },
  onHide: function(){
		// 监听小程序隐藏
    // 当小程序从前台进入后台，会触发 onHide
		$3
  },
  onError: function(msg){
		// 错误监听函数
    // 当小程序发生脚本错误，或者 api 调用失败时，会触发 onError 并带上错误信息
		console.log(msg)
  },
  globalData: {
    // 开发者可以添加任意的函数或数据到 Object 参数中，用 this 可以访问
  }
})
"""

	'获取程序实例':
    'prefix': 'wxgetapp'
    'body': 'const app = getApp();'

	'注册一个页面':
    'prefix': 'wxpage'
    'body': """
Page({
  data: {
    // 参与页面渲染的数据
  },
  onLoad: function (options) {
    // 页面渲染后执行，一个页面只会调用一次，可以获取打开当前页面所调用的 query 参数
		console.log(options)
  },
	onReady: function() {
		// 监听页面初次渲染完成，一个页面只会调用一次
		wx.setNavigationBarTitle({title: '${2:页面标题}'});
	}
  // 事件处理函数
});
"""

	'为当前页面添加方法':
    'prefix': 'wxassign'
    'body': 'Object.assign({},$1,$2)'
	'页面相关事件处理函数--监听用户下拉动作':
		'prefix': 'this-onPullDownRefresh'
		'body': """
onPullDownRefresh: function() {
  // 监听用户下拉刷新事件
	// 需要在app.json的window选项中或页面配置中开启enablePullDownRefresh
	// 当处理完数据刷新后，wx.stopPullDownRefresh可以停止当前页面的下拉刷新
}
"""

	'页面上拉触底事件的处理函数':
		'prefix': 'this-onReachBottom'
		'body': """
onReachBottom: function() {
  // 监听用户上拉触底事件
	// 可以在app.json的window选项中或页面配置中设置触发距离onReachBottomDistance
	// 在触发距离内滑动期间，本事件只会被触发一次
}
"""

	'用户点击右上角转发':
		'prefix': 'this-onShareAppMessage'
		'body': """
onShareAppMessage: function() {
  // 只有定义了此事件处理函数，右上角菜单才会显示“转发”按钮
	// 参用户点击转发按钮的时候会调用
	// 此事件需要 return 一个 Object，用于自定义转发内容
	return {
    title: '自定义转发标题', // 当前小程序名称(默认)
    path: '/page/user?id=123' // 当前页面 path(默认) ，必须是以 / 开头的完整路径
  }
}
"""

	'页面滚动触发事件的处理函数':
		'prefix': 'this-onPageScroll'
		'body': """
// 监听用户滑动页面事件
onPageScroll: function(e) {
	console.log(e.scrollTop)
}
"""

	'获取到当前页面的路径':
    'prefix': 'this-route'
    'body': 'this.route;'

	'将数据从逻辑层发送到视图层（异步），同时改变对应的 this.data 的值（同步）':
    'prefix': 'this-setData'
    'body': 'this.setData({\n\t${1:// 这次要改变的数据}\n})'

	'获取当前页面栈的实例':
		'prefix': 'wxgetcurrentpages'
		'body': '//获取当前页面栈的实例\nconst currentPages = getCurrentPages();'

	'获取页面对象':
		'prefix': 'wxgetcurrentpage'
		'body': '//获取当前页面对象\nconst currentPage = getCurrentPages()[getCurrentPages().length-1];'

	'小程序工具提示框':
		'prefix': 'thisshowTopTips'
		'body': """
this.showTopTips({
	content: '${1:错误提示}',
	duration: ${2:3000}
});
"""
