'.source.js':
	'1001：发现栏小程序主入口':
		'prefix': 'scene-1001'
		'body': '//1001：发现栏小程序主入口'
	'1005：顶部搜索框的搜索结果页':
		'prefix': 'scene-1005'
		'body': '//1005：顶部搜索框的搜索结果页'
	'1006：发现栏小程序主入口搜索框的搜索结果页':
		'prefix': 'scene-1006'
		'body': '//1006：发现栏小程序主入口搜索框的搜索结果页'
	'1007：单人聊天会话中的小程序消息卡片':
		'prefix': 'scene-1007'
		'body': '//1007：单人聊天会话中的小程序消息卡片'
	'1008：群聊会话中的小程序消息卡片':
		'prefix': 'scene-1008'
		'body': '//1008：群聊会话中的小程序消息卡片'
	'1011：扫描二维码':
		'prefix': 'scene-1011'
		'body': '//1011：扫描二维码'
	'1012：长按图片识别二维码':
		'prefix': 'scene-1012'
		'body': '//1012：长按图片识别二维码'
	'1013：手机相册选取二维码':
		'prefix': 'scene-1013'
		'body': '//1013：手机相册选取二维码'
	'1014：小程序模版消息':
		'prefix': 'scene-1014'
		'body': '//1014：小程序模版消息'
	'1017：前往体验版的入口页':
		'prefix': 'scene-1017'
		'body': '//1017：前往体验版的入口页'
	'1019：微信钱包':
		'prefix': 'scene-1019'
		'body': '//1019：微信钱包'
	'1020：公众号 profile 页相关小程序列表':
		'prefix': 'scene-1020'
		'body': '//1020：公众号 profile 页相关小程序列表'
	'1022：聊天顶部置顶小程序入口':
		'prefix': 'scene-1022'
		'body': '//1022：聊天顶部置顶小程序入口'
	'1023：安卓系统桌面图标':
		'prefix': 'scene-1023'
		'body': '//1023：安卓系统桌面图标'
	'1024：小程序 profile 页':
		'prefix': 'scene-1024'
		'body': '//1024：小程序 profile 页'
	'1025：扫描一维码':
		'prefix': 'scene-1025'
		'body': '//1025：扫描一维码'
	'1026：附近小程序列表':
		'prefix': 'scene-1026'
		'body': '//1026：附近小程序列表'
	'1027：顶部搜索框搜索结果页“使用过的小程序”列表':
		'prefix': 'scene-1027'
		'body': '//1027：顶部搜索框搜索结果页“使用过的小程序”列表'
	'1028：我的卡包':
		'prefix': 'scene-1028'
		'body': '//1028：我的卡包'
	'1029：卡券详情页':
		'prefix': 'scene-1029'
		'body': '//1029：卡券详情页'
	'1030：自动化测试下打开小程序':
		'prefix': 'scene-1030'
		'body': '//1030：自动化测试下打开小程序'
	'1031：长按图片识别二维码':
		'prefix': 'scene-1031'
		'body': '1//031：长按图片识别二维码'
	'1032：手机相册选取二维码':
		'prefix': 'scene-1032'
		'body': '//1032：手机相册选取二维码'
	'1034：微信支付完成页':
		'prefix': 'scene-1034'
		'body': '//1034：微信支付完成页'
	'1035：公众号自定义菜单':
		'prefix': 'scene-1035'
		'body': '//1035：公众号自定义菜单'
	'1036：App 分享消息卡片':
		'prefix': 'scene-1036'
		'body': '//1036：App 分享消息卡片'
	'1037：小程序打开小程序':
		'prefix': 'scene-1037'
		'body': '//1037：小程序打开小程序'
	'1038：从另一个小程序返回':
		'prefix': 'scene-1038'
		'body': '//1038：从另一个小程序返回'
	'1039：摇电视':
		'prefix': 'scene-1039'
		'body': '//1039：摇电视'
	'1042：添加好友搜索框的搜索结果页':
		'prefix': 'scene-1042'
		'body': '//1042：添加好友搜索框的搜索结果页'
	'1043：公众号模板消息':
		'prefix': 'scene-1043'
		'body': '//1043：公众号模板消息'
	'1044：带 shareTicket 的小程序消息卡片':
		'prefix': 'scene-1044'
		'body': '// 1044：带 shareTicket 的小程序消息卡片，详情：https://mp.weixin.qq.com/debug/scene-adoc/dev/api/share.html#scene-getshareinfoobject'
	'1047：扫描小程序码':
		'prefix': 'scene-1047'
		'body': '//1047：扫描小程序码'
	'1048：长按图片识别小程序码':
		'prefix': 'scene-1048'
		'body': '//1048：长按图片识别小程序码'
	'1049：手机相册选取小程序码':
		'prefix': 'scene-1049'
		'body': '//1049：手机相册选取小程序码'
	'1052：卡券的适用门店列表':
		'prefix': 'scene-1052'
		'body': '//1052：卡券的适用门店列表'
	'1053：搜一搜的结果页':
		'prefix': 'scene-1053'
		'body': '//1053：搜一搜的结果页'
	'1054：顶部搜索框小程序快捷入口':
		'prefix': 'scene-1054'
		'body': '//1054：顶部搜索框小程序快捷入口'
	'1056：音乐播放器菜单':
		'prefix': 'scene-1056'
		'body': '//1056：音乐播放器菜单'
	'1057：钱包中的银行卡详情页':
		'prefix': 'scene-1057'
		'body': '//1057：钱包中的银行卡详情页'
	'1058：公众号文章':
		'prefix': 'scene-1058'
		'body': '//1058：公众号文章'
	'1059：体验版小程序绑定邀请页':
		'prefix': 'scene-1059'
		'body': '//1059：体验版小程序绑定邀请页'
	'1064：微信连Wi-Fi状态栏':
		'prefix': 'scene-1064'
		'body': '//1064：微信连Wi-Fi状态栏'
	'1067：公众号文章广告':
		'prefix': 'scene-1067'
		'body': '//1067：公众号文章广告'
	'1068：近小程序列表广告':
		'prefix': 'scene-1068'
		'body': '//1068：近小程序列表广告'
	'1071：钱包中的银行卡列表页':
		'prefix': 'scene-1071'
		'body': '//1071：钱包中的银行卡列表页'
	'1072：二维码收款页面':
		'prefix': 'scene-1072'
		'body': '//1072：二维码收款页面'
	'1073：客服消息列表下发的小程序消息卡片':
		'prefix': 'scene-1073'
		'body': '//1073：客服消息列表下发的小程序消息卡片'
	'1074：公众号会话下发的小程序消息卡片':
		'prefix': 'scene-1074'
		'body': '//1074：公众号会话下发的小程序消息卡片'
	'1078：连Wi-Fi成功页':
		'prefix': 'scene-1078'
		'body': '//1078：连Wi-Fi成功页'
	'1089：微信聊天主界面下拉':
		'prefix': 'scene-1089'
		'body': '//1089：微信聊天主界面下拉'
	'1090：长按小程序右上角菜单唤出最近使用历史':
		'prefix': 'scene-1090'
		'body': '//1090：长按小程序右上角菜单唤出最近使用历史'
	'1092：城市服务入口':
		'prefix': 'scene-1092'
		'body': '//1092：城市服务入口'
